<app-nav-bar></app-nav-bar>
<div class="row">
    <div class="col s6">
        <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedValue" class="form-control" placeholder="Choose date"
            [showDropdowns]="true" [lockStartDate]="false" [customRangeDirection]="false" [ranges]="ranges" [timePicker]="true"
            [showCustomRangeLabel]="true" />
    </div>
    <div class="col s6 right-align">
        <br />
        <button type="button" style="background-color: aqua; width: auto;" class="ngx-daterangepicker-action waves-effect waves-light btn" (click)="open($event)">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </button>
    </div>
</div>