<app-nav-bar></app-nav-bar>
<div style="width: 100%; display: flex; background-color:rgb(23, 22, 46);">
    <div style="width: 60%; height: 90vh; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
        <span id="hello-text" style="margin-left: 5%; color: white; font-weight: 500; opacity: 0; transform: translateY(-50px); transition: opacity 0.3s, transform 0.3s;">Hello, It's me</span>
        <p id="name-text" style="font-size: 28px;margin-left: 5%; color: white; font-weight: 500;  opacity: 0; transform: translateX(-50px); transition: opacity 0.3s, transform 0.3s;">Pavan Kishan</p>
        <span id="prof-text" style="margin-left: 5%; color: white; font-weight: 500; opacity: 0; transform: translateY(-50px); transition: opacity 0.3s, transform 0.3s;">and I'm a <span style="color: blue; font-weight: 500;">Photographer</span></span>
        <br>
        <p id="desc-text" style="margin-left: 5%; color: white; font-weight: 500; opacity: 0; transform: translateX(-50px); transition: opacity 0.3s, transform 0.3s;">See America Through My Eye
            Behind the lens of some of the most exclusive weddings in the USA and worldwide Published on Harper's
            Bazaar, Vogue, Martha Stewart, Elle...</p>
            <br>
            <div style="margin-left: 5%; width: 100%; display: flex; align-items: center; gap: 5%;">
                <i id="facebook-icon" class="fa-brands fa-facebook" style="color: blue; font-size: 30px; opacity: 0; transform: translateX(50px); transition: opacity 0.3s, transform 0.3s;"></i>
                <i id="whatsapp-icon" class="fa-brands fa-whatsapp" style="color: blue; font-size: 30px; opacity: 0; transform: translateX(50px); transition: opacity 0.3s, transform 0.3s;"></i>
                <i id="instagram-icon" class="fa-brands fa-instagram" style="color: blue; font-size: 30px; opacity: 0; transform: translateX(50px); transition: opacity 0.3s, transform 0.3s;"></i>
                <i id="linkedin-icon" class="fa-brands fa-linkedin" style="color: blue; font-size: 30px; opacity: 0; transform: translateX(50px); transition: opacity 0.3s, transform 0.3s;"></i>
            </div>
            <br>
            <br>
            <button id="more-btn" routerLink="/About" style="margin-left: 5%; color: white; box-shadow: 0 0 20px 5px blue; opacity: 0; transform: translateX(-50px); transition: opacity 0.3s, transform 0.3s;" class="btn btn-info">More about me</button>
    </div>
    <div style="width: 40%; height: 90vh;">
        <img id="fade-in-image" style="width: 100%; opacity: 0; transition: opacity 0.5s;" src="../../../assets/Images/assets-damosc.png" alt="">
    </div>
</div>