<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav1">
    <a class="navbar-brand" routerLink="/LUNA"><b>LUNA</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/GPT">GPT</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AngBot">Chat Bot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Videos">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/About">About</a>
        </li>
    </ul>
</div>
<a class="nav-link" routerLink="/Profile" style="float:right; margin-right: 15px;"><i class="fa-solid fa-user"></i> Profile</a>
  </nav>
  
